In [113]:
import pandas as pd
import numpy as np
import os

## Answering Business Question #8 of What is the population density of my neighborhood?

In [114]:
#Population Density is important to know as home buyers as you want to know just how packed is your neighborhood 
#and how this compare to other areas. Individuals looking for a more spacious area will not want a high density area.

In [115]:
#Loading Data frame

#xlsx file instead of csv so using this method of loading

#New file specifically for finding population density first

DF = pd.read_excel('/Users/winsontom/Desktop/Career Foundry/Part 8- Final CF Immersion/2.0 Project/2.0 Data/Population Density.xlsx', sheet_name='Sheet1')

In [116]:
#Checking file loaded

DF.head(10)

                                             Address      Neighborhood
0             2 E 55th St Unit 803New York, NY 10022     Gramercy Park
1  Central Park Tower Penthouse-217 W 57th New Yo...           Chelsea
2            620 Sinclair AveStaten Island, NY 10312       South Shore
3         2 E 55th St Unit 908W33Manhattan, NY 10022     Gramercy Park
4                      5 E 64th StNew York, NY 10065   Upper East Side
5                      584 Park PlBrooklyn, NY 11238  Central Brooklyn
6           157 W 126th St Unit 1BNew York, NY 10027    Central Harlem
7             177 Benedict RdStaten Island, NY 10304         Stapleton
8             875 Morrison Ave Apt 3MBronx, NY 10473   Southeast Bronx
9           1350 Ocean Pkwy Apt 5GBrooklyn, NY 11230      Borough Park

In [117]:
#Create a new columns within our DF

DF['Population'] = 'NaN'

In [118]:
DF['Square Miles'] = 'NaN'

In [119]:
#Check to see column was created

DF.head(5)

,Address,Neighborhood,Population,Square Miles
0,"2 E 55th St Unit 803New York, NY 10022",Gramercy Park,NaN,NaN
1,Central Park Tower Penthouse-217 W 57th New Yo...,Chelsea,NaN,NaN
2,"620 Sinclair AveStaten Island, NY 10312",South Shore,NaN,NaN
3,"2 E 55th St Unit 908W33Manhattan, NY 10022",Gramercy Park,NaN,NaN
4,"5 E 64th StNew York, NY 10065",Upper East Side,NaN,NaN

In [120]:
#Data source for population: 
#https://data.cityofnewyork.us/City-Government/New-York-City-Population-By-Neighborhood-Tabulatio/swpk-hqdp/about_data
#

## Filling out Population column with Population Data

In [121]:
DF.loc[DF['Neighborhood'] =='Borough Park', 'Population'] = '106357'

In [122]:
DF.loc[DF['Neighborhood'] =='Canarsie', 'Population'] = '83693'

In [123]:
DF.loc[DF['Neighborhood'] =='Central Bronx', 'Population'] = '164000'

In [124]:
DF.loc[DF['Neighborhood'] =='Central Brooklyn', 'Population'] = '340000'

In [125]:
DF.loc[DF['Neighborhood'] =='Central Harlem', 'Population'] = '118665'

In [126]:
DF.loc[DF['Neighborhood'] =='Central Queens', 'Population'] = '240000'

In [127]:
DF.loc[DF['Neighborhood'] =='Chelsea', 'Population'] = '70150'

In [128]:
DF.loc[DF['Neighborhood'] =='East Harlem', 'Population'] = '115921'

In [129]:
DF.loc[DF['Neighborhood'] =='East New York', 'Population'] = '91958'

In [130]:
DF.loc[DF['Neighborhood'] =='Flatbush', 'Population'] = '156159'

In [131]:
DF.loc[DF['Neighborhood'] =='Fordham', 'Population'] = '82677'

In [132]:
DF.loc[DF['Neighborhood'] =='Gramercy Park', 'Population'] = '30000'

In [133]:
DF.loc[DF['Neighborhood'] =='Greenpoint', 'Population'] = '34719'

In [134]:
DF.loc[DF['Neighborhood'] =='High Bridge', 'Population'] = '87000'

In [135]:
DF.loc[DF['Neighborhood'] =='Hunts Point', 'Population'] = '27204'

In [136]:
DF.loc[DF['Neighborhood'] =='Jamaica', 'Population'] = '217000'

In [137]:
DF.loc[DF['Neighborhood'] =='Lower East Side', 'Population'] = '72957'

In [138]:
DF.loc[DF['Neighborhood'] =='Lower Manhattan', 'Population'] = '60000'

In [139]:
DF.loc[DF['Neighborhood'] =='Mid Island', 'Population'] = '70000'

In [140]:
DF.loc[DF['Neighborhood'] =='North Queens', 'Population'] = '230000'

In [141]:
DF.loc[DF['Neighborhood'] =='Northeast Bronx', 'Population'] = '215000'

In [142]:
DF.loc[DF['Neighborhood'] =='Northeast Queens', 'Population'] = '195000'

In [143]:
DF.loc[DF['Neighborhood'] =='Northwest Brooklyn', 'Population'] = '280000'

In [144]:
DF.loc[DF['Neighborhood'] =='Northwest Queens', 'Population'] = '170000'

In [145]:
DF.loc[DF['Neighborhood'] =='Port Richmond', 'Population'] = '20191'

In [146]:
DF.loc[DF['Neighborhood'] =='Riverdale', 'Population'] = '27860'

In [147]:
DF.loc[DF['Neighborhood'] =='Rockaway', 'Population'] = '130000'

In [148]:
DF.loc[DF['Neighborhood'] =='Soho', 'Population'] = '42742'

In [149]:
DF.loc[DF['Neighborhood'] =='South Brooklyn', 'Population'] = '290000'

In [150]:
DF.loc[DF['Neighborhood'] =='South Shore', 'Population'] = '140000'

In [151]:
DF.loc[DF['Neighborhood'] =='Southeast Bronx', 'Population'] = '190000'

In [152]:
DF.loc[DF['Neighborhood'] =='Southwest Brooklyn', 'Population'] = '310000'

In [153]:
DF.loc[DF['Neighborhood'] =='Southwest Queens', 'Population'] = '250000'

In [154]:
DF.loc[DF['Neighborhood'] =='Stapleton', 'Population'] = '26453'

In [155]:
DF.loc[DF['Neighborhood'] =='Sunset Park', 'Population'] = '126381'

In [156]:
DF.loc[DF['Neighborhood'] =='Upper East Side', 'Population'] = '61207'

In [157]:
DF.loc[DF['Neighborhood'] =='Washington Heights', 'Population'] = '151574'

In [158]:
DF.loc[DF['Neighborhood'] =='West Central Queens', 'Population'] = '275000'

In [159]:
DF.loc[DF['Neighborhood'] =='West Queens', 'Population'] = '190000'

In [160]:
DF.loc[DF['Neighborhood'] =='Williamsburg', 'Population'] = '67084'

In [161]:
DF.head(10)

,Address,Neighborhood,Population,Square Miles
0,"2 E 55th St Unit 803New York, NY 10022",Gramercy Park,30000,NaN
1,Central Park Tower Penthouse-217 W 57th New Yo...,Chelsea,70150,NaN
2,"620 Sinclair AveStaten Island, NY 10312",South Shore,140000,NaN
3,"2 E 55th St Unit 908W33Manhattan, NY 10022",Gramercy Park,30000,NaN
4,"5 E 64th StNew York, NY 10065",Upper East Side,61207,NaN
5,"584 Park PlBrooklyn, NY 11238",Central Brooklyn,340000,NaN
6,"157 W 126th St Unit 1BNew York, NY 10027",Central Harlem,118665,NaN
7,"177 Benedict RdStaten Island, NY 10304",Stapleton,26453,NaN
8,"875 Morrison Ave Apt 3MBronx, NY 10473",Southeast Bronx,190000,NaN
9,"1350 Ocean Pkwy Apt 5GBrooklyn, NY 11230",Borough Park,106357,NaN

## Filling out Square Mile Column

In [162]:
DF.loc[DF['Neighborhood'] =='Borough Park', 'Square Miles'] = '3'

In [163]:
DF.loc[DF['Neighborhood'] =='Canarsie', 'Square Miles'] = '3'

In [164]:
DF.loc[DF['Neighborhood'] =='Central Bronx', 'Square Miles'] = '7'

In [165]:
DF.loc[DF['Neighborhood'] =='Central Brooklyn', 'Square Miles'] = '6.5'

In [166]:
DF.loc[DF['Neighborhood'] =='Central Harlem', 'Square Miles'] = '1.4'

In [167]:
DF.loc[DF['Neighborhood'] =='Central Queens', 'Square Miles'] = '12'

In [168]:
DF.loc[DF['Neighborhood'] =='Chelsea', 'Square Miles'] = '1'

In [169]:
DF.loc[DF['Neighborhood'] =='East Harlem', 'Square Miles'] = '1.6'

In [170]:
DF.loc[DF['Neighborhood'] =='East New York', 'Square Miles'] = '5.6'

In [171]:
DF.loc[DF['Neighborhood'] =='Flatbush', 'Square Miles'] = '2.4'

In [172]:
DF.loc[DF['Neighborhood'] =='Fordham', 'Square Miles'] = '1'

In [173]:
DF.loc[DF['Neighborhood'] =='Gramercy Park', 'Square Miles'] = '.6'

In [174]:
DF.loc[DF['Neighborhood'] =='Green Point', 'Square Miles'] = '3.4'

In [175]:
DF.loc[DF['Neighborhood'] =='High Bridge', 'Square Miles'] = '1'

In [176]:
DF.loc[DF['Neighborhood'] =='Hunts Point', 'Square Miles'] = '2'

In [177]:
DF.loc[DF['Neighborhood'] =='Lower East Side', 'Square Miles'] = '1'

In [178]:
DF.loc[DF['Neighborhood'] =='Lower Manhattan', 'Square Miles'] = '1.5'

In [179]:
DF.loc[DF['Neighborhood'] =='Mid Island', 'Square Miles'] = '5.7'

In [180]:
DF.loc[DF['Neighborhood'] =='North Queens', 'Square Miles'] = '11'

In [181]:
DF.loc[DF['Neighborhood'] =='Northeast Bronx', 'Square Miles'] = '8'

In [182]:
DF.loc[DF['Neighborhood'] =='Northeast Queens', 'Square Miles'] = '7'

In [183]:
DF.loc[DF['Neighborhood'] =='Port Richmond', 'Square Miles'] = '3'

In [184]:
DF.loc[DF['Neighborhood'] =='Northeast Queens', 'Square Miles'] = '14'

In [185]:
DF.loc[DF['Neighborhood'] =='Northwest Brooklyn', 'Square Miles'] = '5'

In [186]:
DF.loc[DF['Neighborhood'] =='Northwest Queens', 'Square Miles'] = '7'

In [187]:
DF.loc[DF['Neighborhood'] =='Riverdale', 'Square Miles'] = '3'

In [188]:
DF.loc[DF['Neighborhood'] =='Rockaway', 'Square Miles'] = '7.1'

In [189]:
DF.loc[DF['Neighborhood'] =='Soho', 'Square Miles'] = '.25'

In [190]:
DF.loc[DF['Neighborhood'] =='South Brooklyn', 'Square Miles'] = '8'

In [191]:
DF.loc[DF['Neighborhood'] =='South Shore', 'Square Miles'] = '20'

In [192]:
DF.loc[DF['Neighborhood'] =='Southeast Bronx', 'Square Miles'] = '5.5'

In [193]:
DF.loc[DF['Neighborhood'] =='Southwest Brooklyn', 'Square Miles'] = '5'

In [194]:
DF.loc[DF['Neighborhood'] =='Southwest Queens', 'Square Miles'] = '6'

In [195]:
DF.loc[DF['Neighborhood'] =='Stapleton', 'Square Miles'] = '4'

In [196]:
DF.loc[DF['Neighborhood'] =='Sunset Park', 'Square Miles'] = '2.5'

In [197]:
DF.loc[DF['Neighborhood'] =='Upper East Side', 'Square Miles'] = '2'

In [198]:
DF.loc[DF['Neighborhood'] =='Washington Heights', 'Square Miles'] = '1.5'

In [199]:
DF.loc[DF['Neighborhood'] =='West Central Queens', 'Square Miles'] = '7'

In [200]:
DF.loc[DF['Neighborhood'] =='West Queens', 'Square Miles'] = '8'

In [201]:
DF.loc[DF['Neighborhood'] =='Williamsburg', 'Square Miles'] = '2'

In [202]:
#Checking first 10 to see if square miles has been filled out

DF.head(10)

,Address,Neighborhood,Population,Square Miles
0,"2 E 55th St Unit 803New York, NY 10022",Gramercy Park,30000,.6
1,Central Park Tower Penthouse-217 W 57th New Yo...,Chelsea,70150,1
2,"620 Sinclair AveStaten Island, NY 10312",South Shore,140000,20
3,"2 E 55th St Unit 908W33Manhattan, NY 10022",Gramercy Park,30000,.6
4,"5 E 64th StNew York, NY 10065",Upper East Side,61207,2
5,"584 Park PlBrooklyn, NY 11238",Central Brooklyn,340000,6.5
6,"157 W 126th St Unit 1BNew York, NY 10027",Central Harlem,118665,1.4
7,"177 Benedict RdStaten Island, NY 10304",Stapleton,26453,4
8,"875 Morrison Ave Apt 3MBronx, NY 10473",Southeast Bronx,190000,5.5
9,"1350 Ocean Pkwy Apt 5GBrooklyn, NY 11230",Borough Park,106357,3

In [203]:
#Checking last 10 to see if square miles has been filled out

DF.tail(10)

,Address,Neighborhood,Population,Square Miles
4544,"342 E 53rd St Apt 6CNew York, NY 10022",Gramercy Park,30000,.6
4545,"448 40th StBrooklyn, NY 11232",Sunset Park,126381,2.5
4546,"700 Park Ave Unit 20ANew York, NY 10021",Upper East Side,61207,2
4547,2351 Adam Clayton Powell Jr Blvd Apt 614Manhat...,Central Harlem,118665,1.4
4548,"2825-2827 W 15th StBrooklyn, NY 11224",South Brooklyn,290000,8
4549,"222 E 80th St Apt 3AManhattan, NY 10075",Upper East Side,61207,2
4550,"97-40 62 Dr Unit LgRego Park, NY 11374",West Central Queens,275000,7
4551,"427 W 21st St Unit GardenNew York, NY 10011",Chelsea,70150,1
4552,"91-23 Corona Ave Unit 4GElmhurst, NY 11373",West Queens,190000,8
4553,"460 Neptune Ave Apt 14OBrooklyn, NY 11224",South Brooklyn,290000,8

In [204]:
DF.columns

Index(['Address', 'Neighborhood', 'Population', 'Square Miles'], dtype='object')

In [205]:
DF.dtypes

Address         object
Neighborhood    object
Population      object
Square Miles    object
dtype: object

In [206]:
DF.isna().sum()

Address         0
Neighborhood    0
Population      0
Square Miles    0
dtype: int64

In [207]:
DF.to_excel(r'/Users/winsontom/Desktop/Career Foundry/Part 8- Final CF Immersion/2.0 Project/Population_Density.xlsx', index=False)