In [1]:
import pandas as pd
from geopy.distance import geodesic
import numpy as np
import os

## Answering Business Quesiton # 7 of How far from the “city”?

In [2]:
#Load Data frame
#xlsx file instead of csv so using this method of loading

DF = pd.read_excel('/Users/winsontom/Desktop/Career Foundry/Part 8- Final CF Immersion/2.0 Project/2.0 Data/Location.xlsx', sheet_name='Sheet1')

In [3]:
#checking file to see coordinates

DF.head(10)

   latitude1  longitude1  latitude2  longitude2
0  40.761255  -73.974483  40.748817  -73.985428
1  40.766393  -73.980991  40.748817  -73.985428
2  40.541805  -74.196109  40.748817  -73.985428
3  40.761398  -73.974613  40.748817  -73.985428
4  40.767224  -73.969856  40.748817  -73.985428
5  40.674363  -73.958725  40.748817  -73.985428
6  40.809448  -73.946777  40.748817  -73.985428
7  40.595002  -74.106424  40.748817  -73.985428
8  40.821586  -73.874089  40.748817  -73.985428
9  40.615738  -73.969694  40.748817  -73.985428

In [8]:
#View column names
DF.columns

Index(['latitude1', 'longitude1', 'latitude2', 'longitude2'], dtype='object')

In [ ]:
#latitude1 is the latitude of the "home address" otherwise the starting point
#longitude1 is the longitude of the "home address" otherwise the starting point

#latitude2 is the latitude of the Empire State building
#longitude2 is the longitude of the Empire State Building

#Empire State building is in Midtown Manhattan, commonly known as the "working area" where majority of New Yorkers
#will work around or be very close. We intentionally chose this location as it is going to reflect most individual
#concern of how far do they have to travel to work

In [9]:
#Create a column named Distance to Midtown, coordinates are the rows specified, return the distance between 
#Home & Empire state Building.
#Result will be a cell showing miles reflecting the distance from work 

def Distance_to_Midtown(row):
    coords_1 = (row['latitude1'], row['longitude1'])
    coords_2 = (row['latitude2'], row['longitude2'])
    return geodesic(coords_1, coords_2).miles

In [13]:
#Defining/Naming column , applying formula from one cell to the entire column
DF['Distance_to_Midtown'] = DF.apply(Distance_to_Midtown, axis=1)

In [15]:
#checking column is successfully created
DF['Distance_to_Midtown'].head(100)

0      1.032683
1      1.234970
2     18.073414
3      1.037144
4      1.510213
        ...
95    10.701360
96    11.998107
97     2.306524
98     8.808749
99    20.630119
Name: Distance_to_Midtown, Length: 100, dtype: float64

In [17]:
#Checking to see if the full data looks correct

DF.head(5)

   latitude1  longitude1  latitude2  longitude2  Distance_to_Midtown
0  40.761255  -73.974483  40.748817  -73.985428             1.032683
1  40.766393  -73.980991  40.748817  -73.985428             1.234970
2  40.541805  -74.196109  40.748817  -73.985428            18.073414
3  40.761398  -73.974613  40.748817  -73.985428             1.037144
4  40.767224  -73.969856  40.748817  -73.985428             1.510213

In [16]:
#Saving Excel File

DF.to_excel(r'/Users/winsontom/Desktop/Career Foundry/Part 8- Final CF Immersion/2.0 Project/Distance_To_Midtown.xlsx', index=False)